.header {
  display:flex;
  flex-direction: row;
  height:10rem;
  background-color: var(--wite-color);
  padding: 0 10rem;
}

.header > .title {
  align-self: center;
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: bold;
  font-size: 26px;
}

.navigation {
  margin-left: 1rem;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.navigation > .itemContainer {
  flex: 1;
  align-self: center;
  min-width: 100px;
  max-width: 150px;
  text-align: center;
}

.itemContainer > .item {
  text-decoration: none;
  color: var(--black-color);
  padding: 1rem;
  font-size:16px;
}

.itemContainer > .item:hover {
  border-bottom: solid 2px var(--orange-color);
}

.itemContainer > .active {
  border-bottom: solid 2px var(--orange-color);
}


@media(max-width:767px){
  .header {
    flex-direction: column;
    padding: 0;
    padding-bottom: 2em;
    justify-content: center;
    align-items: center;
  }

  .navigation {
    width: 100%;
    margin-left: 0;
  }
  .navigation > .itemContainer {
    flex: 1 0 auto;
    min-width: inherit;
    max-width: inherit;
  }
  .itemContainer > .item {
    padding: 1rem 0;
  }
}
